<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{title}} - プルリ・クエスト</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1 id='title'>{{ title }}</h1>
  {{ content | safe }}
</body>
</html>
